# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore Terraform directories
.terraform/

.whizstream-kubernetes

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

./main/destroy_terraform.sh